* {
  margin: 0;
  padding: 0;
  font-size: 32px;
}

p {
  display: inline-block;
}

input {
  border: none;
}

button {
  outline: none;
  border: none;
}


ul,li{
  list-style: none;
}

.single-line{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}